ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.heading {
  display: flex;
}

.menuItem {
  margin-left: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.problems {
  justify-content: left;
}

.problemLink {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  max-width: 900px;
  background-color: rgb(241, 241, 241);
  padding: 17px;
  border-radius: 7px;
  text-decoration: none;
  color: black;
}
.title {
  margin-left: 1rem;
}
.easy {
  margin-left: auto;
  color: #00b8a3;
}
.medium {
  margin-left: auto;
  color: #ffc01e;
}
.hard {
  margin-left: auto;
  color: #ff375f;
}
