.fav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  fill: transparent;
  stroke: #262626;
  stroke-width: 2;
  transition:
    fill 0.2s ease,
    stroke 0.2s ease;
}

.fav-btn.faved .star {
  fill: #f57c00;
  stroke: #0000;
}
