.achievementContainer {
  display: flex;
  align-items: baseline;
}

.achievementDiv {
  text-align: center;
}

.topleftImageAch {
  width: 60px;
  height: 50px !important;
  object-fit: contain;
  display: block;
}
