.problemContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.problemDiv {
  flex: 1;
  text-align: left;
}

.topleftImage {
  width: 50px;
  height: 40px !important;
  object-fit: contain;
}
